<extend name="Public:layout" />
<block name="main-layout">
    <!-- container -->
    <div id="container_home">
            <!-- content -->
            <div id="content_list">
                <div class="cont_list_left">
                    <p class="cont_list_tt"><!-- 新闻>>{$news.type}<a href="#" style=" float:right; margin-right:20px; color:#fff;">トップ >> xxxx协议</a> --></p>   
                    <div class="cont_list_bot" style=" padding:15px 10px; width:735px; color:#8c8c8c; font-size:15px;text-indent:2em;">
                            <p style=" font-size:24px; text-align:center; border-bottom:#ececec 1px solid; padding:20px 0;">{$news.title}</p>
                            <p>{$news.content}</p>
                    </div>
                </div>
                <div class="cont_list_right">
                     <div class="con_right">
                      <?php if(isset($_SESSION['isLog'])){  ?>
                      <div class="user_box_02">
                          <p class="user_box_tt"><em>{$Think.session.userinfo.loginname}</em><span>様</span><a href="{:U('Index/logout',"'id'=$id")}">ログアウト</a></p>
                          <p style=" width:320px !important; margin:5px auto 0 auto; height:20px; text-align:center;">
                                 <select class="user_box_choice">
                                      <option value="1">ブラウザプロ野球..</option>
                                      <option value="2">ブラウザプロ野球..</option>
                                      <option value="3">ブラウザプロ野球..</option>
                                      <option value="4">ブラウザプロ野球..</option>
                                 </select>
                                 <select class="user_box_choice" style="color:#999;">
                                      <option value="1">服务器</option>
                                      <option value="2">服务器</option>
                                      <option value="3">服务器</option>
                                      <option value="4">服务器</option>
                                 </select>
                          </p>
                          <p style=" width:150px; height:25px; margin:5px auto 10px auto;"><a class="user_box_btn" href="#">ゲームへ</a></p>
                          <p style=" width:180px; height:19px; margin:5px auto 5px auto; display:block; padding:0 10px; background:#875921; text-align:center; line-height:19px; border-radius:18px; color:#fff;">RC残高:<span>53800</span></p>
                          <p class="link_11"><a href="__APP__/Reg">無料会員登録</a>|<a href="#">RCチャージ</a></p>
                      </div>
                      <?php }else{?> 
                      <div class="uesr_box">
                          <form action="__CONTROLLER__/dologin" method="post">
                          <table class="dl_01">
                               <tr>
                                    <td><input type="text" name="loginname" value="ID" onfocus="javascript:if(this.value=='ID')this.value='';" class="dl_input"></td>
                                    <td rowspan="2"><input type="submit" name="sub" class="dl_btn" value="ログイン<"></td>
                               </tr>
                               <tr>
                                    <td><input type="password" name="password" value="PASSWORD" onfocus="javascript:if(this.value=='PASSWORD')this.value='';" class="dl_input"></td>
                               </tr>
                          </table>
                          </form>
                          <p class="link_09"><a href="__APP__/Reg">無料会員登録</a>|<a href="#">RCチャージ</a></p>
                      </div>
                      <?php }?>
                          <!-- <p style=" margin-top:5px;">Open ID ご利用な方</p>
                          <p class="link_10">
                               <a href="#" class="weblink_01"></a>
                               <a href="#" class="weblink_02"></a>
                               <a href="#" class="weblink_03"></a>
                               <a href="#" class="weblink_04"></a>
                               <a href="#" class="weblink_05"></a>
                               <a href="#" class="weblink_06"></a>
                          </p> -->
                          <div id="slideBox" class="slideBox3">
                                <div class="hd">
                                    <ul><li></li><li></li><li></li><li></li></ul>
                                </div>
                                <div class="bd">
                                    <ul>
                                      <foreach name="sideplaypic" item="sideplaypic">
                                        <li><a href="#" target="_blank"><img src="__PUBLIC__/{$sideplaypic.image}" /></a></li>
                                      </foreach>
                                        <!-- <li><a href="#" target="_blank"><img src="__PUBLIC__/home/img/img_10.png" /></a></li>
                                        <li><a href="#" target="_blank"><img src="__PUBLIC__/home/img/img_10.png" /></a></li>
                                        <li><a href="#" target="_blank"><img src="__PUBLIC__/home/img/img_10.png" /></a></li>
                                        <li><a href="#" target="_blank"><img src="__PUBLIC__/home/img/img_10.png" /></a></li> -->
                                    </ul>
                                </div>
                            </div>
                    <script type="text/javascript">
                    jQuery(".slideBox3").slide({mainCell:".bd ul",autoPlay:true});
                    </script>
                     </div>
                </div>
            </div>
            <!-- //content -->
    </div>
    <!-- //container -->
</block>
