<extend name="Public:layout" />
<block name="main-layout">
    <!-- container -->
    <div id="container" style=" margin-top:25px !important;">
            <!-- content -->
            <?php if(!empty($_SESSION['userinfo']['loginname'])){ echo "<script>alert('您已登录,要重新登录请先退出!');location.href='__APP__/Index'</script>";}else{ ?>
            <div id="content">
                    <div class="hydl_box">
                         <p class="tt_box">ログイン</p>
                         <div style=" width:976px; height:270px; overflow:hidden; display:block;">
                         <!-- <div class="hydl_left">
                               <p class="tt_12">Open　IDご利用な方</p>
                              <p class="link_10" style=" width:340px; height:40px; margin:80px auto 0 auto;">
                                   <a href="#" class="weblink_01"></a>
                                   <a href="#" class="weblink_02"></a>
                                   <a href="#" class="weblink_03"></a>
                                   <a href="#" class="weblink_04"></a>
                                   <a href="#" class="weblink_05"></a>
                                   <a href="#" class="weblink_06"></a>
                              </p>
                              <p style=" color:#0033FF; font-size:14px; float:right; margin:55px 20px 0 0; text-decoration:underline;">OpenIDについて</p>
                         </div> -->
                         <form action="__CONTROLLER__/dologin" method="post">
                         <div class="hydl_right" style="margin:0 auto; float:none;">
                               <p class="tt_12">会員登錄</p>
                               <table>
                                   <tr>
                                      <td><input type="text" name="loginname" id="loginname" style=" width:165px; height:30px; line-height:30px; color:#cdd1d9; border:#cdd1d9 1px solid;"></td>
                                      <td rowspan="2"><input type="submit" name="sub" id="reg" class="dl_btn" value="ログイン<"></td>
                                      <td>&nbsp;<span class="loginname" style="color:red;font-size:12px;"></span></td>
                                   </tr>
                                   <tr>
                                      <td><input type="password" name="password" id="password" value="PASSWORD" onfocus="javascript:if(this.value=='PASSWORD')this.value='';" style=" width:165px; height:30px; line-height:30px; color:#cdd1d9; border:#cdd1d9 1px solid;"></td>
                                      <td>&nbsp;<span class="password" style="color:red;font-size:12px;"></span></td>
                                   </tr>
                                   <tr>
                                      <td><p href="#" class="yzm" id="captcha-container"><img src="__CONTROLLER__/code" alt=""/></p><a href="javascript:void(0)" id="captcha"><img src="__PUBLIC__/home/images/img_21.jpg" width="33" height="32" alt=""/></a></td>
                                     <td rowspan="2"></td>
                                   </tr>
                                   <tr>
                                      <td><input type="text" name="code" id="code" value="" onfocus="javascript:if(this.value=='')this.value='';" style=" width:165px; height:30px; line-height:30px; color:#cdd1d9; border:#cdd1d9 1px solid;"></td>
                                      <td>&nbsp;<span class="code" style="color:red;font-size:12px;"></span></td>
                                   </tr>
                               </table>
                              <p style=" color:#0033FF; font-size:14px; float:right; margin:5px 20px 0 0; text-decoration:underline;"><a href="{:U('Login/forgetPass')}" style="text-decoration:none;">ID/パスワードを忘れた方</a></p>
                         </div>
                         </div>
                         <!-- <div style=" width:246px; height:51px; margin:55px auto 38px auto;">
                             <p class="btn_04" style=" margin-top:15px !important;"> -->
                                  <!-- <a href="#" class="btn_01"></a> -->
                                  <!-- <a href="#" class="btn_02">登録情報確認へ</a> -->
                             <!--      <input type="submit" name="submit" class="btn_04" style="color: #fff;font-size: 16px;" value="登録情報確認へ">
                             </p>
                         </div> -->
                         </form>
                         <p class="wz" style=" color:#666; margin-bottom:10px;">GAMENOLLへようこそ！</p>
                         <p class="wz" style=" color:#666; margin-bottom:10px;">GAMENOLLのIDとパスワードを入力してください。 </p>
                         <p class="wz" style=" color:#666; margin-bottom:10px;">GAMENOLLの全てのサービスを利用するためには、ログインが必要です。</p>
                    </div>
            </div>
            <?php } ?>
            <!-- //content -->
    </div>
    <!-- //container -->
</div>
<script> 
  // 验证码生成  
  // var captcha_img = $('#captcha-container').find('img')  
  // var verifyimg = captcha_img.attr("src");  
  // captcha_img.attr('title', '点击刷新');  
  // captcha_img.click(function(){
  //     if( verifyimg.indexOf('?')>0){  
  //         $(this).attr("src", verifyimg+'&random='+Math.random());  
  //     }else{  
  //         $(this).attr("src", verifyimg.replace(/\?.*$/,'')+'?'+Math.random());  
  //     }  
  // });
</script>
<script> 
  // 验证码生成  
  var captcha_img = $('#captcha-container').find('img');
  var captcha = $('#captcha').find('img');
  var verifyimg = captcha_img.attr("src");  
  captcha.attr('title', '点击刷新');  
  captcha.click(function(){
      if( verifyimg.indexOf('?')>0){  
          captcha_img.attr("src", verifyimg+'&random='+Math.random());  
      }else{  
          captcha_img.attr("src", verifyimg.replace(/\?.*$/,'')+'?'+Math.random());  
      }  
  });
</script>
<!-- 用户登录验证码JS验证 start-->
<script>
$(function(){
  //登录名
  $('#loginname').blur(function(){
    var loginname=$('#loginname').val();
    if(loginname==''){
      $('.loginname').html('请输入登录名!');
      $('.loginname').css({'color':'red','fontSize':'12px'});
      return false;
    }else{
      $('.loginname').html('登录名已输入!');
      $('.loginname').css({'color':'green','fontSize':'12px'});
    }

  })

  //密码
  $('input[type=password]').blur(function(){
    if($(this).is('#password')){
      if($(this).val()==''){ 
        $('.password').html('请输入密码');
        $('.password').css({'color':'red','fontSize':'12px'});
      }else{
        $('.password').html('密码已输入');
        $('.password').css({'color':'green','fontSize':'12px'});
      }
    }

  })
  //验证码
  $('#code').blur(function(){
    var code=$('#code').val();
    if(code==''){
      $('.code').html('请输入验证码!');
      $('.code').css({'color':'red','fontSize':'12px'});
      return false;
    }

    // $.post('__CONTROLLER__/jscode',{'code':code},function(data){
    //   if(data==1){
    //       $('.code').html('验证码错误');
    //       $('.code').css({'color':'red','fontSize':'12px'});
    //       session.setAttribute("jscode",data);
    //       return false;
    //   }else{
    //     $('.code').html('验证码正确');
    //     $('.code').css({'color':'green','fontSize':'12px'});
    //   }
    //  })
  })

  $('#reg').click(function(){
    var loginname=$('#loginname').val();
    var password=$('#password').val();
    var code=$('#code').val();

    if(loginname==''){$('.loginname').html('请输入用户名'); return false;}
    if(password==''){$('.password').html('请输入用户密码'); return false; }
    if(code==''){$('.code').html('请输入验证码'); return false;}

    $.post('__CONTROLLER__/dologin',{'loginname':loginname,'password':password,'code':code},function(data){
      if(data==1){
        // alert('注册成功');
        window.location.href='__APP__/index';
        return false;
      }else if(data==2){
        // alert('注册失败');
        return false;
      }
    })
  })

})
</script>
<!-- 用户登录JS验证 end-->
</block>
