<extend name="Public:layout" />
<block name="main-content">
  <form action="__ACTION__" method="post" accept-charset="utf-8">
        <p>请选择组:
			<select name="group_id">
				<option>--请选择组--</option>
				<foreach name="groups" item="group">
					<option value="{$group.id}">{$group.title}</option>
				</foreach>
			</select>
		</p>
        <p><input type="hidden" name="uid" value="{$userid}"</p>
        <p><input type="submit" value="添加"></p>
    </form>
</block>


<extend name="Public:layout" />
<block name="main-content">
	<div class="main-content">
		<div class="breadcrumbs" id="breadcrumbs">
			<script type="text/javascript">
				try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
			</script>

			<ul class="breadcrumb">
				<li>
					<i class="icon-home home-icon"></i>
					<a href="#">首页</a>
				</li>

				<!-- <li>
					<a href="#">用户管理组</a>
				</li>
				<li class="active">修改用户管理组</li> -->
			</ul><!-- .breadcrumb -->

			<div class="nav-search" id="nav-search">
				<form class="form-search">
					<span class="input-icon">
						<input type="text" placeholder="搜索 ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
						<i class="icon-search nav-search-icon"></i>
					</span>
				</form>
			</div><!-- #nav-search -->
		</div>

		<div class="page-content">
			<div class="page-header">
				<h1>
					用户管理组
					<small>
						<i class="icon-double-angle-right"></i>
						修改用户管理组
					</small>
				</h1>
			</div><!-- /.page-header -->

			<div class="row">
				<div class="col-xs-12">
					<!-- PAGE CONTENT BEGINS -->

					<form action="__ACTION__" method="post" class="form-horizontal" role="form">
						<p><input type="hidden" name="uid" value="{$userid}"</p>
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-1" > 请选择组: </label>
							
							<div class="col-sm-9">
						   		<p>
							    	<select name="group_id">
							    		<option>--请选择组--</option>
							    		<foreach name="groups" item="group">
											<option value="{$group.id}">{$group.title}</option>
										</foreach>
							    	</select>
						      	</p>
							</div>
						</div>
						<div class="space-4"></div>
						<div class="clearfix form-actions">
							<div class="col-md-offset-3 col-md-9" style="margin-left:330px;">
								<input class="btn btn-info" type="submit" name="submit" value="修改">
									<!-- <i class="icon-ok bigger-110"></i>
									添加 -->
								</input>

								&nbsp; &nbsp; &nbsp;
								<button class="btn" type="reset" name="reset">
									<!-- <i class="icon-undo bigger-110"></i> -->
									重置
								</button>
							</div>
						</div>
					</form>
					<!-- <div class="hr hr-24"></div> -->
						
					</div><!-- PAGE CONTENT ENDS -->
				</div><!-- /.row -->
		</div><!-- /.page-content -->
	</div><!-- /.main-content -->
</block>