<extend name="Public:layout" />
<block name="main-content">
	<div class="main-content">
		<div class="breadcrumbs" id="breadcrumbs">
			<script type="text/javascript">
				try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
			</script>

			<ul class="breadcrumb">
				<li>
					<i class="icon-home home-icon"></i>
					<a href="#">首页</a>
				</li>

				<!-- <li>
					<a href="#">新闻管理</a>
				</li>
				<li class="active">添加新闻</li> -->
			</ul><!-- .breadcrumb -->

			<div class="nav-search" id="nav-search">
				<form class="form-search">
					<span class="input-icon">
						<input type="text" placeholder="搜索 ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
						<i class="icon-search nav-search-icon"></i>
					</span>
				</form>
			</div><!-- #nav-search -->
		</div>

		<div class="page-content">
			<div class="page-header">
				<h1>
					游戏管理
					<small>
						<i class="icon-double-angle-right"></i>
						添加游戏介绍
					</small>
				</h1>
			</div><!-- /.page-header -->

			<div class="row">
				<div class="col-xs-12">
					<!-- PAGE CONTENT BEGINS -->

					<form action="__CONTROLLER__/raiders_add" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-1" > 标题 </label>

							<div class="col-sm-9">
								<input type="text" name="title" id="form-field-1" placeholder="标题" class="col-xs-10 col-sm-5" style="margin-top: 0px; margin-bottom: 0px; width:350px;" required />
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-1" > 类别 </label>

							<div class="col-sm-5">
								<!-- <select name="type" class="form-control" id="form-field-select-1" style="width:350px;">
									<option value="通知">通知</option>
									<option value="活动">活动</option>
									<option value="维护">维护</option>
									<option value="升级">升级</option>
								</select> -->
								<input type="radio" name="type" value="ゲーム紹介" style="width:40px;" required/>ゲーム紹介
								<input type="radio" name="type" value=">初心者ガイド" style="width:40px;" required/>初心者ガイド
								<input type="radio" name="type" value="ゲームガイド" style="width:40px;" required/>ゲームガイド
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-1" > 所属游戏 </label>

							<div class="col-sm-5">
								<!-- <select name="type" class="form-control" id="form-field-select-1" style="width:350px;">
									<option value="通知">通知</option>
									<option value="活动">活动</option>
									<option value="维护">维护</option>
									<option value="升级">升级</option>
								</select> -->
								<foreach name="games"  item="games">
								<input type="radio" name="belong" value="{$games.g_id}" style="width:40px;" required/>{$games.g_name}
								</foreach>
							</div>
						</div>
						<!-- <div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 新闻内容 </label>
							<div class="col-sm-9">
							<textarea name="content" class="form-control" id="form-field-8" placeholder="新闻内容......" style="margin-top: 0px; margin-bottom: 0px; height: 150px; width:350px;"></textarea>
							</div>
						</div> -->
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 游戏介绍 </label>
							<div class="col-sm-9">

								<div class="form-group" style="width:700px; padding-left:9px;">
							    <!-- 加载编辑器的容器 -->
							    <script id="container" name="content" type="text/plain" style="height:300px;">
							        游戏介绍......
							    </script>
							    <!-- 配置文件 -->
							    <script type="text/javascript" src="__PUBLIC__/admin/ue/ueditor.config.js"></script>
							    <!-- 编辑器源码文件 -->
							    <script type="text/javascript" src="__PUBLIC__/admin/ue/ueditor.all.js"></script>
							    <!-- 实例化编辑器 -->
							    <script type="text/javascript">
							        var ue = UE.getEditor('container');
							    </script><br>
							    	<!-- <input type="radio" name="display[]" value="0">显示 &nbsp;
									<input type="radio" name="display[]" value="1">不显示 -->	
								</div>

							</div>
						</div>
						<div class="space-4"></div>
						<div class="clearfix form-actions">
							<div class="col-md-offset-3 col-md-9">
								<input class="btn btn-info" type="submit" name="submit" value="添加">
									<!-- <i class="icon-ok bigger-110"></i>
									添加 -->
								</input>

								&nbsp; &nbsp; &nbsp;
								<button class="btn" type="reset" name="reset">
									<!-- <i class="icon-undo bigger-110"></i> -->
									重置
								</button>
							</div>
						</div>
					</form>
					<!-- <div class="hr hr-24"></div> -->
						
					</div><!-- PAGE CONTENT ENDS -->
				</div><!-- /.row -->
		</div><!-- /.page-content -->
	</div><!-- /.main-content -->
</block>