<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>三生三世十里桃花</title>

    <!-- Bootstrap -->
     <!--<link href="__PUBLIC__/home/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/style.css">
</head>

<body>
<div class="header">
<div class="row">
    <div class="col-xs-left">
      <div class="col-xs-left-center">
        <a href="__APP__/index/home" target="_self"><img class="logo" src="__PUBLIC__/home/images/logo.png"></a>
      </div>
    </div>
    <div class="col-xs-right ">
      <div class="gw-left">
          <a href="__APP__/index/home" target="_self">进入官网</a>
      </div>
      <div class="fx-right">

         <!-- JiaThis Button BEGIN -->
          <div class="jiathis_style_24x24">
            <a class="jiathis_button_cqq"></a>
            <a class="jiathis_button_weixin"></a>
            <a class="jiathis_button_qzone"></a>
            <a class="jiathis_button_tsina"></a>
            <!-- <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a> -->
          </div>
          <script type="text/javascript">
          var jiathis_config = {
            url:"http://www.baidu.com",
              title:"三生三世十里桃花",
              //summary:"123",
          };
          </script>
          <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
          <!-- JiaThis Button END -->

      </div>
    </div>
  </div>
  <div class="header-center">
  <div class="header-center-top">
    <img class="block"src="__PUBLIC__/home/images/block.png">
     <a href="javascript:void(0)"  target="_self"> <img class="sp" src="__PUBLIC__/home/images/sp.png"></a>
  </div>
  <div class="header-center-bottom">
    <div class="sys">
      <img class="zt1" src="__PUBLIC__/home/images/zt1.png">
      <img src="__PUBLIC__/home/images/er.png">
    </div>
    <div class="download">
      <img  class="ios"src="__PUBLIC__/home/images/ios.png">
      <img src="__PUBLIC__/home/images/Android.png">
    </div>
  </div>
</div>


        <section class="card cover">
            <div class="inner" id="change" >
                <ul>
                    <li id="1"><img class="cards zy"src="__PUBLIC__/home/images/img110.png"></li>
                    <li id="2"><img class="cards moy"src="__PUBLIC__/home/images/img111.png"></li>
                    <li id="3"><img class="cards yeh"src="__PUBLIC__/home/images/img112.png"></li>
                    <li id="4"><img class="cards tuanz"src="__PUBLIC__/home/images/img113.png"></li>
                    <li id="5"><img class="cards baiq border"src="__PUBLIC__/home/images/baiq.png"></li>
                </ul>
            </div>
            <div class="card-wrap-bottom">
              <img src="__PUBLIC__/home/images/stock.png">
            </div>
            <div class="card-wrap-bottom2">
              <img src="__PUBLIC__/home/images/stock.png">
            </div>
            <div class="card-wrap-bottom3">
              <img src="__PUBLIC__/home/images/tuop.png">
            </div>
            <div class="card-wrap-bottom4">
              <img src="__PUBLIC__/home/images/stock.png">
            </div>
            <div class="card-wrap-bottom5">
              <img src="__PUBLIC__/home/images/stock.png">
            </div>
        </section>
    </div>


    <footer class="footer">
      <div class="container">
        <div class="logo-left"><img src="__PUBLIC__/home/images/footer-logo.png"></div>
        <div class="nav-right">
          <ul>
            <li><a href="#">公司简介</a><i class="icon">|</i></li>
            <li><a href="#">客户服务</a><i class="icon">|</i></li>
            <li><a href="#">相关法律</a><i class="icon">|</i></li>
            <li><a href="#">网易游戏</a><i class="icon">|</i></li>
            <li><a href="#">联系我们</a><i class="icon">|</i></li>
            <li><a href="#">商务合作</a><i class="icon">|</i></li>
            <li><a href="#">加入我们</a><i class="icon">|</i></li>
            <li><a href="#">用户协议</a></li>
          </ul><br>
          <p class="copy">中联百文公司版权所有&copy;1997-2016</p>
        </div>
      </div>
    </footer>




    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="__PUBLIC__/home/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/index.js"></script>



<!--jquery实现图片变亮效果-->
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>jQuery实现鼠标经过图片变亮效果</title><base target="_blank" />
        <style type="text/css">
            /*.border{border:30px solid #999}*/
        </style>
        <script type="text/javascript" src="jquery/jquery-1.11.2.min.js"></script>
        <script type="text/javascript">
            $(function(){

                $('.inner li').siblings().stop().fadeTo(500,1);
                $("#5").siblings().stop().fadeTo(500,0.8);

                $('.inner li').mousedown(function (e) {
                    $('.inner li').siblings().stop().fadeTo(500,1);
                    $(this).siblings().stop().fadeTo(500,0.8);
                });
            })

        //图片加边框效果
        $('img').click(function(){
            $('img').removeClass('border');
            $(this).addClass('border'+id);

        })
        </script>
        <style type="text/css">
            .border{
            }
        </style>
    </head>
    </html>


  </body>
</html>