<extend name="Public:layout" />
<block name="main-content">
	<div class="main-content">
		<div class="breadcrumbs" id="breadcrumbs">
			<script type="text/javascript">
				try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
			</script>

			<ul class="breadcrumb">
				<li>
					<i class="icon-home home-icon"></i>
					<a href="#">首页</a>
				</li>

				<!-- <li>
					<a href="#">规则管理</a>
				</li>
				<li class="active">添加规则</li> -->
			</ul><!-- .breadcrumb -->

			<div class="nav-search" id="nav-search">
				<form class="form-search">
					<span class="input-icon">
						<input type="text" placeholder="搜索 ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
						<i class="icon-search nav-search-icon"></i>
					</span>
				</form>
			</div><!-- #nav-search -->
		</div>

		<div class="page-content">
			<div class="page-header">
				<h1>
					衍生品管理
					<small>
						<i class="icon-double-angle-right"></i>
						添加衍生品
					</small>
				</h1>
			</div><!-- /.page-header -->

			<div class="row">
				<div class="col-xs-12">
					<!-- PAGE CONTENT BEGINS -->

					<form action="__CONTROLLER__/mod" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
						<input type="hidden" name="id" value="{$commodity.id}">
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-1" > 衍生品名称 </label>

							<div class="col-sm-9">
								<input type="text" name="name" id="form-field-1" placeholder="衍生品名称" class="col-xs-10 col-sm-5" style="margin-top: 0px; margin-bottom: 0px; width:350px;" value="{$commodity.name}" />
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-1" > 链接地址 </label>

							<div class="col-sm-9">
								<input type="text" name="url" id="form-field-1" placeholder="链接地址" class="col-xs-10 col-sm-5" style="margin-top: 0px; margin-bottom: 0px; width:350px;" value="{$commodity.url}" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-1" > 图片 </label>

							<div class="col-sm-9">
								<input type="file" name="src">
								<input type="hidden" name="src" value="{$commodity.src}">
								<span>{$commodity.src}</span> <br>
								<img src="__PUBLIC__/{$commodity.src}" alt="" width="100" height="100">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-1" > 是否前台显示 </label>

							<div class="col-sm-9">
								<input type="radio" value="1" name="is_top"
								<if condition="$commodity.is_top eq 1">checked</if>
								>是 &nbsp;&nbsp;&nbsp;&nbsp;
								<input type="radio" value="0" name="is_top"
								<if condition="$commodity.is_top eq 0">checked</if>
								>否								
							</div>
						</div>
	
	
						<div class="space-4"></div>
						<div class="clearfix form-actions">
							<div class="col-md-offset-3 col-md-9">
								<input class="btn btn-info" type="submit" name="sub" value="修改">
									<!-- <i class="icon-ok bigger-110"></i>
									添加 -->
								</input>

								&nbsp; &nbsp; &nbsp;
								<button class="btn" type="reset" name="reset">
									<!-- <i class="icon-undo bigger-110"></i> -->
									重置
								</button>
							</div>
						</div>
					</form>
					<!-- <div class="hr hr-24"></div> -->
						
					</div><!-- PAGE CONTENT ENDS -->
				</div><!-- /.row -->
		</div><!-- /.page-content -->
	</div><!-- /.main-content -->
</block>