
<extend name="Public:layout" />
<block name="main-content">
	<div class="main-content">
		<div class="breadcrumbs" id="breadcrumbs">
			<script type="text/javascript">
				try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
			</script>

			<ul class="breadcrumb">
				<li>
					<i class="icon-home home-icon"></i>
					<a href="#">首页</a>
				</li>

				<!-- <li>
					<a href="#">规则管理</a>
				</li>
				<li class="active">添加规则</li> -->
			</ul><!-- .breadcrumb -->

			<div class="nav-search" id="nav-search">
				<form class="form-search">
					<span class="input-icon">
						<input type="text" placeholder="搜索 ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
						<i class="icon-search nav-search-icon"></i>
					</span>
				</form>
			</div><!-- #nav-search -->
		</div>
<script language="javascript" type="text/javascript" src="__PUBLIC__/home/js/My97DatePicker/WdatePicker.js"></script>
		<div class="page-content">
			<div class="page-header">
				<h1>
					礼包管理
					<small>
						<i class="icon-double-angle-right"></i>
						添加CDKEY
					</small>
				</h1>
			</div><!-- /.page-header -->

			<div class="row">
				<div class="col-xs-12">
					<!-- PAGE CONTENT BEGINS -->

					<form action="__CONTROLLER__/addpro" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-1ld-1" > 活动开始时间 </label>

							<div class="col-sm-9">
								<input type="text" name="activity_begin" id="form-field-1" placeholder="活动开始时间" class="col-xs-10 col-sm-5" style="margin-top: 0px; margin-bottom: 0px; width:350px;" onClick="WdatePicker()" required />
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-1ld-1" > 活动结束时间 </label>

							<div class="col-sm-9">
								<input type="text" name="activity_end" id="form-field-1" placeholder="活动结束时间" class="col-xs-10 col-sm-5" style="margin-top: 0px; margin-bottom: 0px; width:350px;" onClick="WdatePicker()" required />
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-1" > 添加CDKEY </label>

							<div class="col-sm-9">
								<textarea name="cdkey" id="" cols="45" rows="10" placeholder="CDKEY可多条添加以，隔开"></textarea>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-1" > 文件导入 </label>

							<div class="col-sm-9">	
								<input type="file" name="text" > <font color="red">* 多条CDKEY以，隔开</font>
							</div>
						</div>


						<div class="space-4"></div>
						<div class="clearfix form-actions">
							<div class="col-md-offset-3 col-md-9">
								<input class="btn btn-info" type="submit" name="submit" value="添加">
									<!-- <i class="icon-ok bigger-110"></i>
									添加 -->
								</input>

								&nbsp; &nbsp; &nbsp;
								<button class="btn" type="reset" name="reset">
									<!-- <i class="icon-undo bigger-110"></i> -->
									重置
								</button>
							</div>
						</div>
					</form>
					<!-- <div class="hr hr-24"></div> -->
						
					</div><!-- PAGE CONTENT ENDS -->
				</div><!-- /.row -->
		</div><!-- /.page-content -->
	</div><!-- /.main-content -->
</block>