<extend name="Public:layout" />
<block name="main-content">
	<div class="main-content">
		<div class="breadcrumbs" id="breadcrumbs">
			<script type="text/javascript">
				try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
			</script>

			<ul class="breadcrumb">
				<li>
					<i class="icon-home home-icon"></i>
					<a href="#">首页</a>
				</li>

				<!-- <li>
					<a href="#">规则管理</a>
				</li>
				<li class="active">添加规则</li> -->
			</ul><!-- .breadcrumb -->

			<div class="nav-search" id="nav-search">
				<form class="form-search">
					<span class="input-icon">
						<input type="text" placeholder="搜索 ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
						<i class="icon-search nav-search-icon"></i>
					</span>
				</form>
			</div><!-- #nav-search -->
		</div>

		<div class="page-content">
			<div class="page-header">
				<h1>
					影音管理
					<small>
						<i class="icon-double-angle-right"></i>
						视屏修改
					</small>
				</h1>
			</div><!-- /.page-header -->

			<div class="row">
				<div class="col-xs-12">
					<!-- PAGE CONTENT BEGINS -->

					<form action="__CONTROLLER__/modpro" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
					<input type="hidden" name="id" value="{$data.id}">
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-1" > 视频标题 </label>

							<div class="col-sm-9">
								<input type="text" name="title" id="form-field-1" placeholder="视频标题" value="{$data.title}" class="col-xs-10 col-sm-5" style="margin-top: 0px; margin-bottom: 0px; width:350px;" />
							</div>
						</div>

<!-- 						<div class="form-group">	
							<label class="col-sm-3 control-label no-padding-right" for="form-field-1" > 视频类型 </label>

							<div class="col-sm-9">
								<input type="radio" name="type" value="职业" 
								<if condition="$data.type eq '职业'" > checked</if>
								>职业 &nbsp;
								<input type="radio" name="type" value="攻略"
								<if condition="$data.type eq '攻略'" > checked</if>
								>攻略 &nbsp; 
								<input type="radio" name="type" value="天赋"
								<if condition="$data.type eq '天赋'" > checked</if>
								>天赋 &nbsp;
								<input type="radio" name="type" value="副职业"
								<if condition="$data.type eq '副职业'" > checked</if>
								>副职业 &nbsp;
							</div>
						</div> -->

						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-1" > 简介 </label>

							<div class="col-sm-9">
								<textarea name="desc" id="" cols="44" rows="10">{$data.desc}</textarea>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-1" > 视频 </label>

							<div class="col-sm-9">
								<input type="file" name="view">
								<!-- <input type="hidden" name="view" value="{$data.view}"> -->
								{$data.view}
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-1" > 视频封面 </label>

							<div class="col-sm-9">
								<input type="file" name="picture">
<!-- 								<input type="hidden" name="picture" value="{$data.picture}"> -->
								{$data.picture}
								<img src="__PUBLIC__/{$data.picture}" alt="" width="200" height="150">
							</div>
						</div>
	
						<div class="space-4"></div>
						<div class="clearfix form-actions">
							<div class="col-md-offset-3 col-md-9">
								<input class="btn btn-info" type="submit" name="submit" value="修改">
									<!-- <i class="icon-ok bigger-110"></i>
									添加 -->
								</input>

								&nbsp; &nbsp; &nbsp;
								<button class="btn" type="reset" name="reset">
									<!-- <i class="icon-undo bigger-110"></i> -->
									重置
								</button>
							</div>
						</div>
					</form>
					<!-- <div class="hr hr-24"></div> -->
						
					</div><!-- PAGE CONTENT ENDS -->
				</div><!-- /.row -->
		</div><!-- /.page-content -->
	</div><!-- /.main-content -->
</block>