<extend name="Public:layout" />
<block name="main-content">
	<div class="main-content">
		<div class="breadcrumbs" id="breadcrumbs">
			<script type="text/javascript">
				try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
			</script>

			<ul class="breadcrumb">
				<li>
					<i class="icon-home home-icon"></i>
					<a href="#">首页</a>
				</li>

				<!-- <li>
					<a href="#">规则管理</a>
				</li>
				<li class="active">添加规则</li> -->
			</ul><!-- .breadcrumb -->

			<div class="nav-search" id="nav-search">
				<form class="form-search">
					<span class="input-icon">
						<input type="text" placeholder="搜索 ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
						<i class="icon-search nav-search-icon"></i>
					</span>
				</form>
			</div><!-- #nav-search -->
		</div>

		<div class="page-content">
			<div class="page-header">
				<h1>
					影音管理
					<small>
						<i class="icon-double-angle-right"></i>
						图片修改
					</small>
				</h1>
			</div><!-- /.page-header -->

			<div class="row">
				<div class="col-xs-12">
					<!-- PAGE CONTENT BEGINS -->

					<form action="__CONTROLLER__/modppro" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
					<input type="hidden" name="id" value="{$data.id}">
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-1" > 图片标题 </label>

							<div class="col-sm-9">
								<input type="text" name="title" id="form-field-1" placeholder="图片标题" value="{$data.title}" class="col-xs-10 col-sm-5" style="margin-top: 0px; margin-bottom: 0px; width:350px;" />
							</div>
						</div>

						<div class="form-group">	
							<label class="col-sm-3 control-label no-padding-right" for="form-field-1" > 视频类型 </label>

							<div class="col-sm-9">
								<input type="radio" name="type" value="-1" 
								<if condition="$data.type eq -1" > checked</if>
								>壁纸 &nbsp;
								<input type="radio" name="type" value="-2"
								<if condition="$data.type eq -2" > checked</if>
								>真人秀 &nbsp; 
								<input type="radio" name="type" value="-3"
								<if condition="$data.type eq -3" > checked</if>
								>原画 &nbsp;
								<input type="radio" name="type" value="-4"
								<if condition="$data.type eq -4" > checked</if>
								>表情包 &nbsp;
								<input type="radio" name="type" value="-4"
								<if condition="$data.type eq -5" > checked</if>
								>同人 &nbsp;
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-1" > 图片 </label>

							<div class="col-sm-9">
								<input type="file" name="pic">
								<input type="hidden" name="pic" value="{$data.picture}">
								{$data.picture}
							</div>
						</div>
	
						<div class="space-4"></div>
						<div class="clearfix form-actions">
							<div class="col-md-offset-3 col-md-9">
								<input class="btn btn-info" type="submit" name="submit" value="修改">
									<!-- <i class="icon-ok bigger-110"></i>
									添加 -->
								</input>

								&nbsp; &nbsp; &nbsp;
								<button class="btn" type="reset" name="reset">
									<!-- <i class="icon-undo bigger-110"></i> -->
									重置
								</button>
							</div>
						</div>
					</form>
					<!-- <div class="hr hr-24"></div> -->
						
					</div><!-- PAGE CONTENT ENDS -->
				</div><!-- /.row -->
		</div><!-- /.page-content -->
	</div><!-- /.main-content -->
</block>